@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  
  .form {

    @apply bg-white
  }
}

@layer components {
  








  .container img {

    @apply transition-all ease-in-out duration-300
  
  }


    .search-bar {
      @apply  w-0 group-hover:w-[300px] transition-all duration-300 rounded-full group-hover:border-teal group-hover:border-teal text-teal  py-1 focus:outline-none dark:border-niga dark:bg-niga ;
    }





    #checkbox {
        display: none;
      }
      
      .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition-duration: .5s;
      }
      
      .bars {
        width: 100%;
        height: 4px;
        background-color: rgb(176, 92, 255);
        border-radius: 4px;
      }
      
      #bar2 {
        transition-duration: .8s;
      }
      
      #bar1,#bar3 {
        width: 70%;
      }
      
      #checkbox:checked + .toggle .bars {
        position: absolute;
        transition-duration: .5s;
      }
      
      #checkbox:checked + .toggle #bar2 {
        transform: scaleX(0);
        transition-duration: .5s;
      }
      
      #checkbox:checked + .toggle #bar1 {
        width: 100%;
        transform: rotate(45deg);
        transition-duration: .5s;
      }
      
      #checkbox:checked + .toggle #bar3 {
        width: 100%;
        transform: rotate(-45deg);
        transition-duration: .5s;
      }
      
      #checkbox:checked + .toggle {
        transition-duration: .5s;
        transform: rotate(180deg);
      
      }



     
      





    }
    



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: teal;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #004c4c;
}

